html {
  height: 100%;
}

body {
  height: 100%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover {
  background-color: #047dad;
  color: black;
}

.topnav a.active {
  background-color: #047dad;
  color: white;
}

table {
  border:1px solid #b3adad;
  border-collapse:collapse;
  padding:5px;
  font-family: Arial, Helvetica, sans-serif;
}
table th {
  border:1px solid #b3adad;
  padding:5px;
  background: #047dad;
  color: #000000;
}
table td {
  border:1px solid #b3adad;
  text-align:center;
  padding:5px;
  background: #ffffff;
  color: #313030;
}

h1 {
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

p {
  font-size: 19px;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}

p3 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('achtergrond.jpg');
  background-attachment: fixed;
  background-size: cover;
}

marquee {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  position: relative;
  padding: 10px 0px 0px 8px;
  height: 120px;
  background-color: #333;
  color: white;
  text-align: center;
}